@model IEnumerable<SIPADE.Models.SipTblControlAsistencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SipTblCasFechaHoraEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SipTblCasFechaHoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SipTblEmp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblCasFechaHoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblCasFechaHoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmp.SipTblEmpId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SipTblCasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SipTblCasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SipTblCasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
